p {
  line-height: 1.6;
  font-family: $font-family;
  &.p-lg {
    font-size: 1.5rem;
  }
  &.p-md {
    font-size: 1.25rem;
  }
  &.p-sm {
    font-size: 1rem;
  }
  &.p-xs {
    font-size: .75rem;
  }
}
