$radius: var(--radius);

$main-padidng: calc(var(--px-base) * 18);
$section-padding: calc(var(--px-base) * 12);

$xl-padding: calc(var(--px-base) * 9);
$lg-padding: calc(var(--px-base) * 8);
$md-padding: calc(var(--px-base) * 7);
$sm-padding: calc(var(--px-base) * 5);
$xs-padding: calc(var(--px-base) * 4);
$xxs-padding: calc(var(--px-base) * 3);
