.Ecommerce-main{
    .main-parent{
        background-image: $hard-blue;
        height: 1176px;
    }
    .page-heading{
         width: 791px;
         margin-left: auto;
         margin-right: auto;
    }
    .myitems{
        width: 1159px;
        display: grid;
        grid-template-columns: repeat(3 , 1fr); 
        column-gap: 62px;
        .general-item{
            margin-inline-end: 0;
            width: 345px;
            .freq-item-title{
                color: $white-color;
            }
        }
    }
    .general-item .public-item-desc{
        color: rgba(255,255,255,0.8);
    }
    .general-item .general-item-img{
        width: 240px;
    }
}


@include max-1300{
    .Ecommerce-main .myitems {
        width: 100%;
        column-gap: 43px;
    }
}

@include max-1200{
    .Ecommerce-main .myitems .general-item{
        width: 100%;
    }
    .Ecommerce-main .myitems .general-item .freq-item-title{
        font-size: 22px;
    }
}
    


@include max-992{
    .Ecommerce-main .page-heading{
        width: 100%;
    }
    .Ecommerce-main .myitems{
        grid-template-columns: repeat(2 , 1fr);
        row-gap: 30px;
    }
    .Ecommerce-main .main-parent{
        height: auto;
        padding-bottom: 60px;
    }
}

@include max-768 {
    .Ecommerce-main .main-parent{
      background-image:   linear-gradient(40deg, #4c34bb 0%, #24156d 84.45%, #4c34bb 84.45%, #24156d 100%);
    }
    .Ecommerce-main .myitems .general-item{
       margin: 0;
    }
    .Ecommerce-main .main-banner-content .container{
        padding: 0;
    }
    .Ecommerce-main .myitems{
        grid-template-columns:  1fr;
        row-gap: 30px;
    }
    .Ecommerce-main .general-item .general-item-img{
        width: 130px;
    }
    .Ecommerce-main .myitems{
        margin-top: 30px;
    }
}