.importance{
    padding: 96px 0 ;
   
}
.importance-parent{
    position: relative;
    .freq-div{
        position: absolute;
        top: 0;
        inset-inline-start: 0;
    }
}
.importance-item{
    .checkbox input{
        opacity: 0;
        appearance: none;
        display: none;
    }
    .input-holder{
        margin-bottom: 72px;
        p {
            width: 453px;
            color: #4938A1;
            font-size: 20px;
            line-height: 32px;
            margin-inline-start: 48px;
            margin-top: 12px;
          }
    }
    .checkbox{
        cursor: pointer;
       display: flex;
       align-items: center;
       justify-content: flex-start;
        h3 {
            color: #24156D;
            font-size: 24px;
            font-weight: 700;
            line-height: 40px;
            margin-inline-start: 16px;
        }   
      
        }
}



.importance-items{
    .sqaure-parent{
        height: 435px;
        margin-bottom: 22px;
        width: 283px;
        padding: 32px 25px;
        background-color: rgba(243,242,251,0.4);
        .rect-square{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;
        }
        .rectangle{
            height: 24px;
            width: 193px;
            border-radius: 4px;
            background-color: rgba(243,242,251,0.8);
        }
        .square{
            height: 24px;
            width: 24px;
            border-radius: 4px;
            background-color: #EFEDFA;
        }
       
    }
}

.importance-items{
    display: flex;
    flex-direction: row-reverse;
    height: 1300px;
    column-gap: 20px;
}

.full-square-item{
    height: 882px;
    width: 589px;
    background-color: rgba(243,242,251,0.4);
    align-self: flex-end;
    padding: 85px 32px;
}
.importance-item:last-of-type{
    align-self: flex-end;
    margin-bottom: -70px;
}


.checkmark{
    position: relative;
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    background-color: rgba(76,52,187,0.2);
    &::after{
        content: url(../../../../images/pages/ecommerce/importance-sec/Solid-Check.svg);
        position: absolute;
        display: none;
        // display: none;
       width: 24px;
       height: 24px;
       top: 50%;
       left: 50%;
        transform: translate(-50%, -50%) ;
    }
    
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
    width: 100%;
    height: 100%;
}

.checkbox input:checked + .checkmark{
     background-color: #4C34BB;
}


@include max-1300 {
    .importance-items .sqaure-parent ,.full-square-item{
        width: 100%;
    }
    .importance-items .sqaure-parent{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@include max-1200{
    .full-square-item{
        padding: 50px 20px;
    }
    .importance-items{
        flex-wrap: wrap;
    }
    .full-square-item{
        width: 70%;
        margin-top: 350px;
        height: auto;
    }
    .importance-item .input-holder:last-of-type{
        margin-bottom: 0;
    }
 
    .importance-items .sqaure-parent{
        width: 250px;
        height: 400px;
    }
    .importance-items .sqaure-parent .rectangle{
        width: 170px;
    }
}

@include max-992 {
    .importance-item:last-of-type{
        align-self: normal;
        margin-bottom: 0;
    }
    .importance-parent .freq-div{
        position: relative;
    }
    .importance-items .empty-sqaure-item{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-top: 0;
    }
    .empty-sqaure-item .sqaure-parent{
        width: 283px;
    }
    .importance-items .sqaure-parent .rectangle{
        width: 193px;
    }
    .importance-items{
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        row-gap: 30px;
        margin-top: 30px;
    }
    .full-square-item{
        width: 100%;
        margin-top: 0;
    }
    .importance-items .sqaure-parent{
        margin-bottom: 0;
    }
}

@include max-768 {
    .importance-items .importance-item:first-of-type, .importance-item:last-of-type{
        flex-direction: column;
        row-gap: 30px;
    }
    .importance-items .sqaure-parent .rectangle{
        width: 85%;
    }
    .importance-items .sqaure-parent , .importance-item:last-of-type .sqaure-parent{
        width: 100%;
    }
    .importance-item:nth-of-type(2){
        padding: 30px 10px;
    }
    .importance-item .checkbox h3{
        font-size: 16px;
        line-height: 1.5;
        margin-inline-start: 10px;
    }
    .importance-item .input-holder p{
        width: 100%;
        font-size: 16px;
        line-height: 1.6;
        margin-top: 5px;
        margin-inline-start: 36px;
        margin-inline-start: 0;
        margin-top: 10px;
    }
    .checkmark{
        width: 25px;
        height: 25px;
    }
    .importance-item .checkbox{
        align-items: flex-start;
        display: grid;
        grid-template-columns: 25px 1fr;
    }
    .importance-item .input-holder{
        margin-bottom: 40px;
    }
    .importance{
        padding: 50px 0 60px 0 ;
    }
    .importance-items .sqaure-parent{
        height: auto;
    }
  
}