// .container {
//   max-width: 1260px;
//   --bs-gutter-x: 62px;
//   // 1180
// }

// .container-fluid{
//   max-width: 1441px;
//   margin: auto;
//   --bs-gutter-x: 102px;
//   // 1238
// }




// .container {
//   max-width: 1339px;
//   padding: 0 70px;
//   --bs-gutter-x : 0 ;
//   // --bs-gutter-x: 40px;
//   // 1180
// }


// @media (min-width: 576px) {
//    .container {
//     max-width: 540px;
//   }
// }
// @media (min-width: 768px) {
//   .container {
//     max-width: 720px;
//   }
// }



@media (min-width: 1300px) {
   .container {
    max-width: 1260px;
    --bs-gutter-x: 62px;
  }
  .container-fluid{
  max-width: 1441px;
  margin: auto;
  --bs-gutter-x: 102px;
  // 1238
}
}

@media (min-width: 992) {
  .container-fluid{
    --bs-gutter-x: 1.5rem;
    // 1238
  }
}

@include max-1200 {
  .container-fluid{
    --bs-gutter-x :29px ;
  }
}

@include max-992 {
  .container-fluid{
    --bs-gutter-x : 90px ;
  }
}

@include max-768 {
  .container-fluid{
    --bs-gutter-x : 40px ;
  }
  .container-fluid{
    --bs-gutter-x : 0 ;
  }
  footer .container-fluid{
    --bs-gutter-x : 0 ;
  }
  .container{
    padding: 0 20px;
  }
}


// @media (min-width: 1400px) {
//    .container {
//     max-width: 1260px;
//     --bs-gutter-x: 62px;
//   }
// }


// @media (max-width: 768px) {
//    .container {
//     --bs-gutter-x: 40px;
//   }
// }






