header {
  background-color: $white-color;
  padding: 30px 0;
  position: relative;
}
.header-main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}
.navigation {
  width: 100%;
}
.big-menu {
  display: flex;
  align-items: center;
}
.big-menu > li {
  margin-inline-end: 40px;
  &:hover {
    > a {
      color: $primary-color;
    }
  }
  > a {
    color: $text-color;
    font-size: 1rem;
    transition: color linear 0.2s;
    display: block;
  }
}

.big-menu > li:nth-child(5) {
  margin-inline-start: auto;
}
.big-menu > li:last-of-type {
  margin: 0;
}

.contact-div {
  
.tasawk-btn{
padding-inline-start: 20px;
}
}

.tasawk-btn {
    position: relative;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 150px;
  transition: 0.3s ease-in-out;
  transition-property: background-color, color;
  justify-content: space-between;
  color: $white-color;
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
  border-radius: 8px;

  &:hover {
    background-color: $primary-color;
    color: $white-color;
  }

}


.tasawk-btn-arrow {
  font-size: 0.75rem;
  font-weight: 900;
}
.logo-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  img {
    width: 50px;
  }
}
.contact-div {
  display: flex;
  align-items: center;
  margin-inline-start: 38px;
}
.tasawk-btn-arrow-div {
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  .tasawk-btn-arrow-icon {
    font-size: 0.75rem;
    transition: transform linear 0.2s;
  }
}

// sub menu btn

.tasawk-btn {

  .sub-menu {
    opacity: 0;
    visibility: hidden;
    width: 280px;
    background-color: transparent;
    position: absolute;
    top: calc(100% + 7px);
    inset-inline-end: 0;
    z-index: 15;
  }
}

.sub-menu-div {
  border-radius: 8px;
  background-color: $white-color;
  padding: 18px 16px;
}

.sub-menu-div {
  .link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 7px;
    padding: 8px 10px;
    border-radius: 4px;
    transition: background-color linear 0.2s;
    &:hover {
      background-color: $bglight-color;
    }
    .svg.link-img {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    i.link-img {
      font-size: 22px;
      color: #119b3d;
      width: 24px;
    }
  }
  .link:last-of-type {
    margin-bottom: 0;
  }
}
.link {
  .link-span {
    color: $text-color;
    font-size: 1rem;
    line-height: 24px;
    text-align: start;
    margin-inline-start: 8px;
  }
  .whats-icon {
    font-size: 24px;
    color: #119b3d;
  }
}

.sub-menu-overlay {
  position: fixed;
  inset: 0;
  height: 100vh;
  background-color: rgba(76, 52, 187, 0.9);
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.2s;
}

.overflow-hidden {
  overflow: hidden;
}

.show-submenu,
.show-overlay {
  opacity: 1;
  visibility: visible;
}

.open-tasawk-btn-menu {
  .tasawk-btn-arrow-icon {
    transform: rotate(180deg);
  }
  .tasawk-btn .sub-menu,
  .sub-menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .tasawk-btn-arrow-div {
    background-color: #f8683d;
  }
}
.logo-title-holder {
  display: flex;
  column-gap: 12px;
  align-items: center;
}





.lower {
  margin-top: 8px;
  padding: 10px 16px;
  .lower-link-span {
    color: $text-color;
    font-size: 0.75rem;
    line-height: 20px;
    text-align: start;
    margin-top: 8px;
    width: 100%;
    display: block;
  }
  .link {
    align-items: flex-start;
  }
}

.bars {
  z-index: 20;
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  .line{
    width: 25px;
    display: block;
    height: 3px;
    background-color: var(--text-color);
    transition: all .3s;
  }

}
.rotate-line1{
  transform: rotate(45deg) translateY(-1px) ;
  transform-origin: 0% 0%;
}
.rotate-line3{
  transform: rotate(-45deg) translateY(2px) ;
    transform-origin:  0 100%;
}
.bars .hide-line2{
  transform: translateX(-30px);
  opacity: 0;
  visibility: hidden;
 
}

.logo-img {
  .svg {
    display: block;
  }
}


.lower-spans-div {
  margin-inline-start: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .link-span {
    margin-inline-start: 0;
  }
}

.open-tasawk-btn-menu {
  .tasawk-btn-arrow-icon {
    transform: rotate(180deg);
  }
  .tasawk-btn .sub-menu,
  .sub-menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .tasawk-btn-arrow-div {
    background-color: #f8683d;
  }
}
.rotate-icon_change-bg {
  background-color: #f8683d;
  .tasawk-btn-arrow-icon {
    transform: rotate(180deg);
  }
}

.big-menu{
.menu-item-has-children {
  position: relative;
  line-height: 116px;
  padding: 0;
   > a {
    color:var(--text-color);
    column-gap: 5px;
    display: flex;
    align-items: baseline;
    &::after {
      content: "\f078";
      position: relative;
      font-family: "Font Awesome 6 Pro";
      font-weight: 900;
      font-size: 10px;
      color: var(--text-color);
    }
    position: relative;
  }
  &:hover {
    > a {
      color: var(--primary-color);
      &::after {
        color: var(--primary-color);
      }
    }
    .sub-menu {
      opacity: 1;
      visibility: visible;
      top: 101%;
    }
  }
  .sub-menu {
    width: 290px;
    opacity: 0;
    visibility: hidden;
    transform-origin: center top;
    transform-style: preserve-3d;
    border-radius: 8px;
    z-index: 12;
    background-color: #ffffff;
    position: absolute;
    top: 200px;
    right: -22px;
    // transform: translateX(-50%);
    padding: 12px;
    transition: all 0.5s;
    li {
      text-align: center;
      transition: all linear 0.3s;
    }
    a {
      padding: 10px;
      align-items: center;
      font-size: 16px;
      border-radius: 4px;
      line-height: 1.5;
      color: var(--text-color);
      text-align: center;
      justify-content: flex-start;
      font-weight: 400;
      display: flex;
      width: 100%;
      column-gap: 10px;
      transition: color linear 0.2s;
      img {
        width: 20px;
        display: block;
        flex-shrink: 0;
      }
      .icon {
        font-size: 18px;
        width: 23px;
      }
      &:hover {
        background-color: var(--bglight-color);
      }
    }
  }
}
}



//
// media query

@include max-1200 {
  .menu-item-has-children .sub-menu{
    inset-inline-start: 0;
    transform: unset;
  }
  .big-menu > li {
    margin-inline-end: 25px;
  }
  .logo-title-holder {
    column-gap: 8px;
  }

  .logo-img .svg {
    width: 40px;
  }
}

@include max-992 {
  .contact-div {
    margin: 0;
  }
  .logo-img {
    position: static;
    transform: unset;
    margin-inline-end: auto;
  }

  .page-top-header {
    display: none;
  }


  .header-main-content {
    height: auto;
    justify-content: flex-end;
    column-gap: 25px;
  }


  .big-menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 75px;
  }
  .big-menu > li {
    margin-inline-end: 0;
    margin-bottom: 25px;
  }
  .big-menu > li:nth-child(5) {
  margin-inline-start: unset;
}
 .contact-div .tasawk-btn {
    margin-inline-start: 0;
    height: 40px;
    padding-inline-start: 15px;
    width: 135px;
  }
  .big-menu > li > a {
    font-size: 18px;
    font-weight: 500;
  }
  .big-menu > li:nth-child(4) {
    margin-inline-start: 0;
  }

  header {
    padding: 20px 0;
  }
  .bars {
    display: flex;
  }

  .navigation {
    overflow-y: auto;
    position: fixed;
    opacity: 0;
    transition-duration:1s ;
    visibility: hidden;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    padding:  20px;
    background-color: #fff;
    transition: 0.3s;
    z-index: 20;
    // clip-path: polygon(81.05% 9.1%, 92% 9.1%, 92% 10.1%, 81.05% 10.1%) ;
    clip-path: polygon(10.05% 5.1%, 12% 5.1%, 12% 5.1%, 5.05% 10.1%);
    .container{
      padding: 0;
    }
  }
  .open-sidebar {
    opacity: 1;
    visibility: visible;
    clip-path: polygon(101% -1%, 101% 101%, -1% 101%, -1% -1%);    
  }

   .big-menu .menu-item-has-children > a::after {
    font-size: 14px;
    transition: linear all 0.2s;
    // color: var(--primary-color);
  }
  .big-menu .menu-item-has-children > a.icon-rotate::after {
    transform: rotate(180deg);
  }
  .big-menu .menu-item-has-children > a::after {
    font-size: 15px;
  }
  .big-menu .menu-item-has-children .sub-menu {
    position: static;
    background-color: unset;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    transform: unset;
    padding: 0;
    display: none;
    transition: none;
    width: 100%;
    padding-top: 18px;
    li {
      margin-bottom: 17px;
    }
    li:last-of-type {
      margin-bottom: 0;
    }
  }
  .big-menu .menu-item-has-children .sub-menu li {
    text-align: start;
  }
  .big-menu .menu-item-has-children:hover .sub-menu {
    transform: unset;
  }
  .big-menu .menu-item-has-children .sub-menu a {
    display: flex;
    padding: 0;
    gap: 8px;
    width: max-content;
  }
  .big-menu .menu-item-has-children {
    width: 100%;
    padding: 0;
  }
  .big-menu .menu-item-has-children > a {
    justify-content: space-between;
    cursor: pointer;
  }
  .big-menu .menu-item-has-children {
    line-height: normal;
  }
  header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    transition: all .3s;
    border-bottom: 1px solid transparent;

  }
  body{
    padding-top: 105.85px;
  }
  .fixed-header{
    padding: 10px 0;
    border-color:  #e6e6e6;
  }
}

@include max-768 {
  body{
    padding-top: 76.91px;
  }
  header {
    padding: 10px 0;
  }




  .footer-nav-item:last-of-type{
    margin-top: 0;
  }



  .logo-img .svg {
    width: 35px;
  }

   .big-menu .menu-item-has-children .sub-menu li a:hover {
    background-color: transparent;
    color: red;
  }

  .big-menu .menu-item-has-children {
    padding: 0;
  }
  .big-menu .menu-item-has-children .sub-menu a .icon{
    font-size: 17px;
    width: 22.5px;
  }
}



