.mobileApps-whytostart {
  .general-item .general-item-img {
    width: 72px;
    height: auto;
  }
  .general-item:first-of-type .general-item-img {
    width: 65px;
  }
  .quote-sec {
    margin-top: 110px;
  }
}

@include max-992 {
  .mobileApps-whytostart {
    .general-item:last-of-type {
      margin-top: 0;
    }
  }
}


@include max-768{
  .mobileApps-whytostart .quote-sec{
    margin-top: 70px;
  }
}