// main banner

.main-parent {
  .svgs-parent {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1200px;
  }
  .container-fluid {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}

.graphic-design-main {
  padding: 0;
}
.page-top-header,
.blog-top-header {
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease-in-out 0.2s;
  z-index: 10;
  width: 100%;
  background-color: rgba(36, 21, 109, 0.6);
}
.page-top-header .top-header-list {
  display: flex;
  align-items: center;
}
.main-parent {
  position: relative;
  overflow: hidden;
  height: 1200px;
  background-image: $basic-red;
}

.sticky-nav-logo {
  display: none;
  align-items: center;
  justify-content: center;
  img {
    width: 25px;
  }
}
.topheader-cont .tasawk-btn {
  display: none;
  padding-inline-start: 20px;
}

.page-top-header .topheader-cont {
  .page-name {
    color: $white-color;
    font-size: 16px;
    font-weight: 700;
  }
  li {
    margin-inline-end: 64px;
    padding: 16px 0;
    a {
      transition: color ease-in-out 0.2s;
      color: $white-color;
      font-size: 12px;
      &:hover {
        color: $third-color;
      }
    }
  }
  li:last-of-type {
    margin-inline-end: 0;
  }
}

.blog-top-header .topheader-cont {
  .top-header-list {
    display: flex;
    column-gap: 48px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    // margin-inline-start: auto;
  }
}

.page-top-header .topheader-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-banner-content {
  position: relative;
  z-index: 2;
  padding-top: 152px;
  padding-inline: 20px;
  .tasawk-btn {
    margin: auto;
    justify-content: center;
    width: 173px;
    margin-top: 32px;
    z-index: 1;
    &:hover {
      color: $text-color;
      background-color: $third-color;
    }
  }
}
.page-subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}
.page-heading {
  color: $white-color;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  margin: 0;
}
.page-desc {
  width: 666.52px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.svg-cloths {
  position: absolute;
  top: 280px;
  inset-inline-end: 115px;
  width: 192px;
  height: 192px;
}
.svg-checks {
  position: absolute;
  top: 500px;
  inset-inline-start: 589px;
  width: 216px;
  height: 216px;
}
.svg-printing {
  position: absolute;
  bottom: 40px;
  inset-inline-start: 445px;
  width: 500px;
  height: 500px;
  z-index: 1;
}
.svg-signs {
  position: absolute;
  top: 290px;
  inset-inline-start: -10px;
  width: 500px;
  height: 500px;
}
.svg-logo {
  position: absolute;
  bottom: 130px;
  inset-inline-start: 132px;
  width: 231px;
  height: 231px;
}
.love-box-svg {
  position: absolute;
  bottom: 70px;
  inset-inline-end: -47px;
  width: 700px;
  height: 700px;
}

.svg-BigBox {
  position: absolute;
  inset-inline-end: 70px;
  top: 70px;
  width: 600px;
  height: 600px;
}
.svg-LoveBox {
  position: absolute;
  top: 38%;
  left: 48.2%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  z-index: 1;
}

.fixed-topheader {
  .topheader-cont .tasawk-btn {
    height: 40px;
  }
  .topheader-cont .page-name {
    font-size: 14px;
  }
  .topheader-cont li {
    margin-inline-end: 40px;
  }
  .topheader-cont li:last-of-type {
    margin-inline-end: 0;
  }
  position: fixed;
  background-color: rgba(36, 21, 109, 0.9);
  .sticky-nav-logo {
    display: flex;
  }
  .topheader-cont .tasawk-btn {
    display: flex;
    margin-inline-start: 30px;
  }
}
.topheader-cont li a.active {
  color: $third-color;
}

@include max-1300 {
  .svg-BigBox {
    inset-inline-end: 40px;
    top: 96px;
    width: 500px;
    height: 500px;
  }
  .svg-LoveBox {
    top: 37%;
    left: 38%;
    width: 200px;
    height: 200px;
  }
  .svg-printing,
  .svg-signs {
    width: 400px;
    height: 400px;
  }
  .svg-signs {
    top: 400px;
  }
}

@include max-1200 {
  .topheader-cont li {
    margin-inline-end: 30px;
  }
  .fixed-topheader .topheader-cont li {
    margin-inline-end: 12px;
  }
  .fixed-topheader .tasawk-btn-arrow-div {
    width: 25px;
  }
  .fixed-topheader .topheader-cont .tasawk-btn {
    width: 120px;
    padding-inline-start: 12px;
    margin-inline-start: 15px;
  }
  .svg-printing {
    bottom: 10px;
    inset-inline-start: 382px;
  }
  .svg-checks {
    top: 510px;
    inset-inline-start: 450px;
  }
  .svg-cloths {
    inset-inline-end: 55px;
  }
}

@include max-992 {
  .page-heading{
    font-size: 40px;
    line-height: 1.5;
    width: 100%;
  }
  .main-parent .svgs-parent {
    height: 900px;
  }
  .love-box-svg {
    display: none;
  }
  .svg-cloths {
    top: 340px;
    inset-inline-end: 25px;
  }
  .svg-logo,
  .svg-checks {
    display: none;
  }
  .main-parent {
    height: 900px;
  }
  .main-banner-content {
    margin-top: 0;
    padding-top: 60px;
  }
}

@include max-768 {
  .svg-printing,
  .svg-cloths {
    display: none;
  }
  .svg-signs {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    inset-inline-start: unset;
    top: unset;
    width: 270px;
    height: auto;
  }
  .page-desc {
    width: 100%;
    margin-top: 15px;
  }
  .main-banner-content {
    padding: 0 20px;
    margin-top: 50px;
  }
  .page-heading {
    font-size: 22px;
    line-height: 1.6;
  }
  .main-parent {
    height: calc(100vh - 77.71px);
    .svgs-parent {
      height: calc(100vh - 62px);
    }
  }
  .page-subtitle {
    font-size: 14px;
  }
  .page-desc {
    font-size: 16px;
    line-height: 1.6;
  }
}
