.faqs{
    padding-top: 103px;
    padding-bottom: 40px;
}
.faqs-parent{
    width: 791px;
   margin-left: auto;
   margin-right: auto;
   
    .heading{
        width: 672px;
        color: $heading-color;
        font-weight: 700;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
    }
    .step{
        background-color: rgba(243,242,251,0.6);
        width: 100%;
    }
    .step .accordion-button{
        padding-top: 17px;
        padding-bottom: 15px;
        padding-inline-start: 32px;
        background-color: rgba(243,242,251,0.6);
        padding-inline-end: 32px
    }
    .step-title{
        color: $text-color;
        font-size: 20px;
        font-weight: 400;
        margin-inline-start: 0;
        line-height: 40px;
    }
    .step-desc{
        width: 598.21px;
        color: rgba(73,56,161,0.8);
        font-size: 16px;
        line-height: 24px;
       margin-bottom: 0;
    }
    .accordion-body{
        padding-inline-start: 32px;
        padding-bottom: 32px;
        background-color: rgba(243,242,251,0.6);
    }
    .ready-text{
        color: rgba(73,56,161,0.8);
        font-size: 24px;
        letter-spacing: 0;
        line-height: 40px;
        text-align: center;
        margin-top: 48px;
        margin-bottom: 24px;
    }
    .tasawk-btn{
        justify-content: center;
        margin: auto;
        width: 173px;
        z-index: 1;
        &:hover{
            background-color: $third-color;
            color:  $text-color;
        }
    }
}

@include max-1200{
    .faqs-parent .heading{
        width: 100%;
    }
    .faqs-parent{
        width: 100%;
    }
}

@include max-768 {
    .faqs-parent .heading{
        font-size: 18px;
        line-height: 1.7;
        margin-bottom: 25px;
    }
    .faqs{
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .faqs-parent .step-title{
        font-size: 17px;
        line-height: 1.6;
    }
    .faqs-parent .step .accordion-button{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-inline-start: 10px;
        padding-inline-end: 20px;
        align-items: flex-start;
    }
    .faqs-parent .step-desc{
        width: 100%;
        line-height: 1.7;
    }
    .faqs-parent .accordion-body{
        padding-inline-start: 10px;
        padding-bottom: 20px;
        padding-inline-end: 20px;
    }
    .faqs-parent .ready-text {
        font-size: 18px;
        margin-top: 35px;
        margin-bottom: 20px;
    }
}