.rakman-parent{
    margin-top: 105px;
    background-color: rgba(243,242,251,0.4);
    padding-top: 30px;
    margin-bottom: 43px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    position: relative;
    &::after{
        height: 43px;
        width: 50%;
        inset-inline-start: 0;
        position: absolute;
        top: -43px;
        content: "";
        background-color: rgba(243,242,251,0.4);
    }
    &::before{
        height: 43px;
        width: 50%;
        inset-inline-end: 0;
        position: absolute;
        bottom: -43px;
        content: "";
        background-color: rgba(243,242,251,0.4);
    }
}
.rakman-proj-cont{
    padding-inline-start: 60px;
    padding-inline-end: 23px;
    .proj-details-anchor{
        height: 48px;
        margin-top: 20px;
        width: 160px;
        border-radius: 8px;
        background-color: #4938A1;
        color: #FFFFFF;
        font-size: 16px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all ease-in-out .2s;
        &:hover{
            background-color: $primary-color;
        }

    }
   
    .proj-type-text{
        color: rgba(73,56,161,0.8);
        font-size: 16px;
        margin-bottom: 8px;
        display: block;
    }
    .heading{
        color: #24156D;
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
       margin-bottom: 8px;
    }
    .subtitle{
        color: rgba(73,56,161,0.8);
        font-size: 20px;
        line-height: 32px;
        text-align: right;
    }
    .desc{
        margin-top: 32px;
        margin-bottom: 0;
        width: 479px;
        color: rgba(73,56,161,0.8);
        font-size: 16px;
        line-height: 24px;
    }
    .stats-parent{
        margin-top: 54px;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        .compiler-div{
            width: 290px;
            height: 290px;
            .svg{
                width: 100%;
                height: 100%;
            }
        }
    }
    .stats-text{
        margin-bottom: 32px;
        h3 {
            width: 130px;
            color: #24156D;
            font-size: 48px;
            font-weight: 100;
            line-height: 60px;
        }
        p{
            color: rgba(73,56,161,0.8);
            font-size: 12px;
            line-height: 20px;
        }
    }
}

.rakman-proj-shape{
    padding: 0 48px;
    .domain{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .domain-div{
        height: 32px;
        width: 384px;
        background-color: rgba(239,237,250,0.6);
        position: relative;
        .outlink{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            inset-inline-start: 8px;
            width: 24px;
            height: 24px;
        }
        p{
            color: #4C34BB;
            font-size: 16px;
            text-align: center;
        }
    }
    .rectangles-div{
        display: flex;
        align-items: center;
        column-gap: 25px;
        div{
            height: 16px;
            width: 16px;
           border-radius: 50%;
        }
        div.red{
            background-color: rgba(198,23,83,0.9);
        }
        div.yellow{
            background-color: rgba(255,201,20,0.9);
        }
        div.green{
             background-color: rgba(17,155,61,0.9);
        }
    }
   
}

.rakman-proj-shape{
    .shape{
        .topic{
            height: 56px;
            width: 284px;
            position: absolute;
            background-color: #FFFFFF;
            .darggable-cont{
                padding-inline-start: 10px;
            }
            .svg{
                width: 24px;
                height: 24px;
            }
            .darggable-cont p{
                color: #4938A1;
                font-size: 16px;
            }
        }
        .topic.ai{
            top: 195px;
            inset-inline-end: -20px;
        }
        .topic.sms{
            top: 305px;
            inset-inline-start: -20px;
        }
        .topic.maps{
            bottom: 85px;
            inset-inline-end: -20px;
        }
        background-color: rgba(239,237,250,0.6);
        padding-top: 37px;
        padding-inline-start: 28px;
        padding-inline-end: 31px;
        padding-bottom: 30px;
        margin-top: 24px;
        position: relative;
        .upper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                height: 54px;
                width: 115.04px;
                background-color: #4C34BB;
                display: flex;
                justify-content: center;
                align-items: center;
                .svg{
                    width: 100%;
                    height: 100%;
                }
                h3{
                    color: #fff;
                }
            }
            .rects{
                display: flex;
                align-items: center;
                column-gap: 21px;
                div{
                    height: 28px;
                    width: 87.89px;
                    border: 1px dashed  rgba($color: #4C34BB, $alpha: .6);
                }
            }
        }
        .middle{
            margin-top: 30px;
            overflow: hidden;
            height: 196px;
            width: 446px;
            border: 1px dashed  rgba($color: #4C34BB, $alpha: .6);
            position: relative;
            &::after{
                content: "";
                width: 484px;
                height: 0px;
                display: block;
                top: 101%;
                position: absolute;
                left: 48%;
                transform: rotate(23.4deg) translate(-53%, 0%);
                border: 1px dashed rgba($color: #4C34BB, $alpha: .6);
            }
            &::before{
                content: "";
                width: 484px;
                height: 0px;
                display: block;
                top: 101%;
                position: absolute;
                right: 48%;
                transform: rotate(156.7deg) translate(-53%, 0%);
                border: 1px dashed rgba($color: #4C34BB, $alpha: .6);
            }
            // transform: scaleY(-1);
        }
        .down{
            margin-top: 34px;
            display: flex;
            justify-content: space-between;
            column-gap: 28px;
            div{
                height: 198px;
                width: 210px;
                border: 1px dashed  rgba($color: #4C34BB, $alpha: .6);
            }
        }
    }
}


@include max-1200 {
    .soft-work-samples{
        .freq-headline{
            width: 589px;
        }
    }
    .rakman-parent{
        grid-template-columns: 1fr;
    }
    .rakman-proj-shape{
        width: 605px;
        margin-inline-start: auto;
        margin-top: 30px;
    }
    .rakman-proj-cont{
        width: 565px;
    }
}


@include max-992{
    .rakman-proj-shape , .rakman-proj-cont{
        margin: auto;
    }
    .rakman-proj-cont{
        padding: 0 20px;
    }
    .softwareDiv-work-samples .work-samples-parent .freq-div{
        top: 0;
        margin-bottom: 80px;
    }
    .rakman-parent{
        row-gap: 40px;
    }
}

@include max-768 {
    .softwareDiv-work-samples .work-samples-parent .freq-div{
        margin-bottom: 45px;
    }
    .softwareDiv-work-samples .freq-desc{
        text-align: center;
        line-height: 1.7;
        font-size: 16px;
    }
    .softwareDiv-work-samples .freq-div, .softwareDiv-work-samples .freq-headline, .softwareDiv-work-samples .freq-desc{
        width: 100%;
    }
    .softwareDiv-work-samples .freq-headline{
        font-size: 18px;
    }
    .softwareDiv-work-samples{
        padding-top: 0;
    }
    .soft-work-samples{
        padding: 50px 0 0 0 ;
        background-color: rgba(243, 242, 251, 0.4);
    }
    .rakman-parent{
        background-color: transparent;
        margin-top: 30px;
        margin-bottom: 0;
        padding-bottom: 50px;
    }
    .soft-work-samples .freq-headline{
        width: 100%;
    }
    
    .rakman-proj-cont , .rakman-proj-shape , .rakman-proj-cont .desc{
        width: 100%;
    }
    .rakman-proj-cont .stats-parent .compiler-div{
        width: 180px;
        height: 180px;
        align-self: center;
    }
    .rakman-proj-cont{
        padding: 0 ;
    }
    .rakman-proj-cont .heading{
        font-size: 18px;
        line-height: 1.7;
    }
    .rakman-proj-cont .subtitle {
        font-size: 17px;
    }
    .rakman-proj-shape{
        padding: 0;
        width: 460px;
    }
    .rakman-proj-shape .domain-div{
        width: 70%;
    }
    .rakman-proj-shape .rectangles-div div{
        width: 14px;
        height: 14px;
    }
    .rakman-proj-shape .shape{
        padding: 25px 12px;
    }
    .rakman-proj-shape .domain-div .outlink{
        width: 22px;
        height: 22px;
        inset-inline-start: 5px;
    }
    .rakman-parent::after{
        height: 30px;
        top: -30px;
        display: none;
    }
    .rakman-parent::before{
        height: 30px;
        bottom: -30px;
        display: none;
    }
    .rakman-proj-shape .shape .upper .rects div{
        width: 100%;
    }
    .rakman-proj-shape .shape .topic .darggable-cont p{
        font-size: 14px;
    }
    .rakman-proj-shape .shape .topic{
        width: auto;
        height: 45px;
        padding: 0 ;
        padding-inline-start: 10px;
        min-width: 245px;
    }
    .rakman-proj-shape .shape .topic.ai , .rakman-proj-shape .shape .topic.maps{
        inset-inline-end: -10px;
    }
    .rakman-proj-shape .shape .topic .darggable-cont{
        padding-inline-start: 0;
    }
    .rakman-proj-shape .shape .topic.sms{
        inset-inline-start: -10px;
    }
   
    .rakman-proj-shape .shape .topic .svg{
        width: 20px;
        height: 20px;
    }
    // .rakman-proj-shape .shape .middle{
    //     width: 100%;
    //     height: 140px;
    // }
    .rakman-proj-shape .shape .down div{
        width: 50%;
        // height: 135px;
    }
    .rakman-proj-shape .shape .topic.ai{
        top: 120px;
    }
    .rakman-proj-shape .shape .topic.sms{
        top: 220px;
    }
    .rakman-proj-shape .shape .upper .rects{
        column-gap: 10px;
        width: 70%;
    }
    .rakman-proj-shape .shape .upper .logo{
        width: 80px;
        height: 40px;
    }
    .rakman-proj-shape .shape .upper .logo h3{
        font-size: 20px;
    }
    .rakman-proj-shape .rectangles-div{
        column-gap: 15px;
    }
    .rakman-proj-shape .domain{
        padding: 0 ;
    }
    .rakman-proj-cont .stats-parent{
        grid-template-columns: 1fr 170px;
        column-gap: 10px;
        margin-top: 35px;
    }
    .rakman-proj-cont .desc{
        margin-top: 25px;
    }
    .rakman-proj-cont .stats-text h3{
        width: max-content;
        line-height: 1.5;
        font-size: 40px;
    }
    .rakman-proj-cont .stats-text{
        margin-bottom: 20px;
    }
    .rakman-proj-cont .proj-details-anchor{
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }
    .rakman-proj-cont .desc , .rakman-proj-cont .subtitle , .rakman-proj-cont .heading , .rakman-proj-cont .proj-type-text{
        text-align: center;
    }
    .rakman-proj-shape .shape .middle{
        margin-left: auto;
        margin-right: auto;
        width: 436px;
    }
    .rakman-proj-shape .shape .middle::after{
        width: 526px;
        top: 104%;
        left: 45%;
        transform: rotate(23.7deg) translate(-50%, 0%);
    }
    .rakman-proj-shape .shape .middle::before{
        width: 526px;
        top: 104.5%;
        right: 45%;
        transform: rotate(156deg) translate(-50%, 0%);
    }
    .rakman-proj-shape .shape .down{
        margin-top: 25px;
    }
}

@include max-576 {
     .rakman-proj-shape{
        width: 100%;
    }
    .shape-parent{
        width: 480px;
        margin: auto;
    }
    .rakman-proj-shape .shape .middle{
        width: 456px;
    }
    .rakman-proj-shape .shape .middle::before{
        width: 526px;
        top: 103%;
        right: 47%;
        transform: rotate(157.2deg) translate(-50%, 0%);
    }
    .rakman-proj-shape .shape .middle::after{
        width: 526px;
        top: 103%;
        left: 47%;
        transform: rotate(22.8deg) translate(-50%, 0%);
    }
}


@media screen and (max-width : 530px) {
    .rakman-proj-shape .shape .middle{
        height: 180px;
    }
    .shape-parent{
        width: 100%;
    }
    .rakman-proj-shape .shape .middle{
        width: 100%;
    }
    .rakman-proj-shape .shape .down div{
        height: 141px;
    }
    .rakman-proj-shape .shape .middle::before{
        width: 495px;
        top: 102%;
        right: 48%;
        transform: rotate(158.6deg) translate(-52%, 0%);
    }
    .rakman-proj-shape .shape .middle::after{
        width: 495px;
        top: 102%;
        left: 48%;
        transform: rotate(21.5deg) translate(-52%, 0%);
    }
}

@media screen and (max-width : 460px) {
    
    .rakman-proj-shape .shape .middle::before{
        top: 111%;
        right: 48%;
        transform: rotate(155.4deg) translate(-52%, 0%);
    }
    .rakman-proj-shape .shape .middle::after{
        top: 110%;
        left: 48%;
        transform: rotate(24.2deg) translate(-52%, 0%);
    }
}



@media screen and (max-width : 390px) {
    .rakman-proj-shape .shape .middle{
        height: 165px;
    }
    .rakman-proj-shape .shape .middle::before{
        top: 126%;
        transform: rotate(152.5deg) translate(-52%, 0%);
    }
    .rakman-proj-shape .shape .middle::after{
        top: 126%;
        transform: rotate(27.5deg) translate(-52%, 0%);
    }
}