// frequent
.freq-span {
  color: #4938a1;
  font-size: 16px;
  line-height: 24px;
  text-align: start;
  margin-bottom: 24px;
  display: block;
}
.freq-headline {
  width: 589px;
  color: #24156d;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: start;
  margin-bottom: 24px;
}
.freq-desc {
  width: 589px;
  color: #4938a1;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 40px;
  text-align: right;
}
.freq-item-title {
  color: #24156d;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: start;
  margin-bottom: 16px;
}
.freq-quote-parent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 56px;
}
.quote-box {
  position: relative;
  padding: 16px 24px 32px 24px;
  background-color: rgba(234, 231, 249, 0.8);
  text-align: start;
  img {
    display: block;
    width: 72px;
  }
  .blue-line {
    position: absolute;
    bottom: 0;
    inset-inline-start: 0;
    height: 8px;
    width: 160.53px;
    background-color: #7acef0;
    &::before {
      position: absolute;
      content: "";
      height: 4px;
      width: 160.53px;
      background-color: #4c34bb;
      bottom: 0;
      inset-inline-start: 100%;
    }
  }
}
.qoute-text {
  width: 337px;
  color: #4938a1;
  font-size: 16px;
  line-height: 24px;
  text-align: start;
  margin-bottom: 16px;
}
.qoute-author {
  color: #4938a1;
  letter-spacing: 0;
  line-height: 24px;
  text-align: start;
}

@include max-992 {
  .quote-box {
    margin-inline-start: auto;
    margin-top: 40px;
  }
  .freq-item-title {
    font-size: 22px;
  }
  .freq-headline {
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .freq-desc {
    line-height: 1.5;
    font-size: 22px;
  }
}

@include max-768 {
  .quote-box {
    margin-inline-start: unset;
    margin: 40px auto 0 auto;
    width: 100%;
    padding: 15px 15px 30px 15px;
  }
  .quote-box .blue-line,
  .quote-box .blue-line::before {
    width: 140px;
  }
  .qoute-text {
    width: 100%;
  }
  .freq-item-title {
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.5;
  }
  .freq-desc {
    font-size: 16px;
    text-align: center;
  }
  .freq-headline {
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 1.7;
  }
  .freq-span {
    text-align: center;
    margin-bottom: 20px;
  }

  .freq-desc {
    width: 100%;
    line-height: 1.6;
  }
}

// ****************************************************************************************************

// main banner

.graphic-design-main {
  padding: 0;
  // margin-top: -56px;
}
.top-header {
  position: absolute;
  // position: sticky;
  top: 0;
  left: 0;
  transition: all ease-in-out 0.2s;
  z-index: 10;
  width: 100%;
  background-color: rgba(36, 21, 109, 0.6);
  // height: 56px;
}
.main-parent {
  position: relative;
  overflow: hidden;
  height: 1200px;
  background-image: $basic-red;
}

.topheader-cont {
  .page-name {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  .top-header-list {
    display: flex;
    align-items: center;
  }
  li {
    margin-inline-end: 64px;
    padding: 16px 0;
    a {
      transition: color ease-in-out 0.2s;
      color: #ffffff;
      font-size: 12px;
      &:hover {
        color: #7acef0;
      }
    }
  }
  li:last-of-type {
    margin-inline-end: 0;
  }
}

.main-banner-content {
  position: relative;
  z-index: 2;
  margin-top: 152px;
  .tasawk-btn {
    margin: auto;
    justify-content: center;
    margin-top: 32px;
    z-index: 1;
    &:hover {
      color: $text-color;
      background-color: $third-color;
    }
  }
}
.page-subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}
.page-heading {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  margin: 0;
}
.page-desc {
  width: 666.52px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.svg-cloths {
  position: absolute;
  top: 280px;
  inset-inline-end: 115px;
  width: 192px;
  height: 192px;
}
.svg-checks {
  position: absolute;
  top: 500px;
  inset-inline-start: 589px;
  width: 216px;
  height: 216px;
}
.svg-printing {
  position: absolute;
  bottom: 40px;
  inset-inline-start: 445px;
  width: 500px;
  height: 500px;
}
.svg-signs {
  position: absolute;
  top: 290px;
  inset-inline-start: -10px;
  width: 500px;
  height: 500px;
}
.svg-logo {
  position: absolute;
  bottom: 130px;
  inset-inline-start: 132px;
  width: 231px;
  height: 231px;
}
.love-box-svg {
  position: absolute;
  bottom: 70px;
  inset-inline-end: -47px;
  width: 700px;
  height: 700px;
}

.svg-BigBox {
  position: absolute;
  inset-inline-end: 70px;
  top: 70px;
  width: 600px;
  height: 600px;
}
.svg-LoveBox {
  position: absolute;
  top: 38%;
  left: 48.2%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  z-index: 1;
}

.fixed-topheader {
  position: fixed;
  background-color: rgba(36, 21, 109, 0.9);
}
.topheader-cont li a.active {
  color: #7acef0;
}

@include max-1300 {
  .svg-BigBox {
    inset-inline-end: 40px;
    top: 96px;
    width: 500px;
    height: 500px;
  }
  .svg-LoveBox {
    top: 37%;
    left: 38%;
    width: 200px;
    height: 200px;
  }
  .svg-printing,
  .svg-signs {
    width: 400px;
    height: 400px;
  }
  .svg-signs {
    top: 400px;
  }
}

@include max-1200 {
  .topheader-cont li {
    margin-inline-end: 45px;
  }
  .svg-printing {
    bottom: 10px;
    inset-inline-start: 382px;
  }
  .svg-checks {
    top: 510px;
    inset-inline-start: 450px;
  }
  .svg-cloths {
    inset-inline-end: 55px;
  }
}

@include max-992 {
  .love-box-svg {
    display: none;
  }
  .svg-cloths {
    top: 340px;
    inset-inline-end: 25px;
  }
  .svg-logo,
  .svg-checks {
    display: none;
  }
  .main-parent {
    height: 900px;
  }
  .main-banner-content {
    margin-top: 90px;
  }
}

@include max-768 {
  .svg-printing,
  .svg-cloths {
    display: none;
  }
  .svg-signs {
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    inset-inline-start: unset;
    top: unset;
    width: 300px;
    height: 300px;
  }
  .page-desc {
    width: 100%;
    margin-top: 20px;
  }
  .main-banner-content {
    padding: 0 20px;
    margin-top: 50px;
  }
  .page-heading {
    font-size: 24px;
    line-height: 1.5;
  }
  .main-parent {
    height: calc(100vh - 82px);
  }
  .page-subtitle {
    font-size: 14px;
  }
  .page-desc {
    font-size: 16px;
    line-height: 1.6;
  }
}

// ****************************************************************************************************

// public view section

.public-view-items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 64px;
}
.public-view-item {
  margin-inline-end: 122px;
}
.public-view-item:last-of-type {
  margin-inline-end: 0;
}

.public-view-item {
  .public-item-desc {
    color: #4938a1;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    width: 284px;
  }
  .public-item-img {
    display: block;
  }
}

// media query
@include max-1200 {
  .public-view-item {
    margin-inline-end: 44px;
  }
}

@include max-992 {
  .public-view-items {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .public-view-item {
    margin-inline-end: 0;
  }
  .public-view-item:last-of-type {
    margin-top: 30px;
  }
}

@include max-768 {
  .public-view-items {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }

  .public-view-item .public-item-desc {
    text-align: center;
  }

  .public-view-item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .public-view-item .public-item-img {
    width: 120px;
  }

  .public-view-item {
    margin-bottom: 35px;
  }
  .public-view-item:last-of-type {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// ****************************************************************************************************
// designs provided section
.designs-provided {
  padding: 0;
}
.designs-provided-parent {
  background-color: rgba(234, 231, 249, 0.6);
  padding: 96px 0;
}
.designs-provided-items {
  display: flex;
  row-gap: 88px;
  width: 995px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  .designs-provided-item {
    width: 385px;
    img {
      width: 140px;
      margin-bottom: 0;
    }
  }
}

.provided-item-desc {
  width: 385px;
  color: #4938a1;
  font-size: 16px;
  line-height: 24px;
  text-align: start;
}

// media query
@include max-1200 {
  .freq-quote-parent {
    justify-content: space-between;
  }
  .freq-headline {
    width: 100%;
  }
  .freq-desc {
    width: 450px;
    font-size: 20px;
    line-height: 1.6;
  }
  .designs-provided-items {
    width: 100%;
  }
  .designs-provided-items .designs-provided-item {
    width: auto;
  }
}

@include max-992 {
  .provided-item-desc {
    width: 284px;
    text-align: center;
  }
  .designs-provided-items {
    row-gap: 60px;
  }

  .designs-provided-item {
    text-align: center;
  }
  .freq-quote-parent {
    flex-direction: column;
    align-items: flex-start;
  }

  .freq-desc {
    width: 500px;
  }
}

@include max-768 {
  .designs-provided-items {
    row-gap: 40px;
  }
  .designs-provided-items .designs-provided-item {
    width: 100%;
  }
  .designs-provided-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 120px;
      margin-bottom: 10px;
    }
  }
  .provided-item-desc {
    width: 100%;
    text-align: center;
  }
  .freq-desc {
    font-size: 16px;
    line-height: 1.7;
    width: 100%;
  }

  .designs-provided-parent {
    padding: 50px 0;
  }
}
// ****************************************************************************************************
// execution steps section

.execution-steps-parent {
  background-color: #4c34bb;
  padding: 96px 0;
  .freq-headline {
    color: #fff;
  }
  .freq-span {
    color: rgba(255, 255, 255, 0.8);
  }
  .freq-desc {
    color: rgba(255, 255, 255, 0.8);
  }
  .quote-box {
    background-color: rgba(73, 56, 161, 0.6);
  }
  .qoute-text,
  .qoute-author {
    color: rgba(255, 255, 255, 0.8);
  }
  .quote-box .blue-line {
    background-color: #7acef0;
  }
}
.accordion-button:not(.collapsed) {
  background-color: #fff;
  box-shadow: none;
}
.accordion-item:first-of-type .accordion-button {
  border: none;
  border-radius: 0;
}
.accordion-item:last-of-type .accordion-collapse,
.accordion-item:last-of-type {
  border-radius: 0;
}
.accordion-button::after {
  margin-right: auto;
  margin-left: 0;
}
.step {
  border: none;
  margin-bottom: 16px;
  background-color: #ffffff;
  width: 589px;
  .accordion-button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline-start: 16px;
    padding-inline-end: 32px;
  }
}

.steps-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.steps-pic {
  margin-top: -42px;
  display: flex;
  justify-content: center;
  width: 100%;
  img {
    width: 450px;
  }
}
.steps-content {
  margin-top: 90px;
}
.step-name {
  display: flex;
  margin-inline-start: 10px;
  flex-direction: column;
}
.step-desc {
  color: #4938a1;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: start;
  margin-bottom: 16px;
  width: 439px;
}
.step-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  // justify-content: space-between;
}
.step-title {
  color: #24156d;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 30px;
  text-align: start;
  margin-inline-start: 10px;
}

.step-span {
  color: #4938a1;
  font-size: 12px;
  text-align: start;
}
.arrow-icon {
  font-size: 16px;
  color: #4c34bb;
  margin-inline-start: auto;
}
.accordion-button::after {
  background-image: none;
  width: unset;
  height: unset;
  content: "\f107";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #24156d;
  font-size: 16px;
}
.accordion-button:not(.collapsed)::after {
  background-image: none;
}

.accordion-body {
  padding: 0;
  padding-inline-start: 58px;
  padding-inline-end: 32px;
  padding-bottom: 28px;
}
.accordion-button:focus {
  box-shadow: none;
}
.read-more-parent {
  margin-top: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.readmore-about-us {
  .read-more-text {
    width: 286px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
  }
  img {
    display: block;
    width: 160px;
  }
  .readmore-about-us {
    margin-top: 56px;
  }
  .item-span {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: right;
  }
  .item-title {
    width: 487px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 16px 0;
  }
  .item-desc {
    width: 487px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .item-anchor {
    //   height: 86px;
    padding: 11px 17px;
    color: #ffffff;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    line-height: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: ease-in-out 0.2s all;
    &:hover {
      background-color: var(--third-color);
      color: var(--text-color);
    }
    .icon {
      margin-inline-end: 5px;
    }
  }
}

@include max-992 {
  .steps-content {
    flex-direction: column;
    align-items: center;
  }
  .steps-pic {
    margin-top: 0;
  }
  .read-more-parent {
    flex-direction: column;
  }
  .read-more-item:last-of-type {
    margin-top: 30px;
  }
}

@include max-768 {
  .accordion-item,
  .step-desc {
    width: 100%;
  }
  .steps {
    width: 100%;
  }
  .execution-steps-parent {
    padding: 50px 0;
  }
  .step-title {
    font-size: 18px;
  }
  .accordion-item.step {
    img {
      width: 25px;
    }
  }
  .step .accordion-button {
    padding: 15px 0;
    padding-inline-start: 10px;
    padding-inline-end: 20px;
  }
  .accordion-body {
    padding-inline-start: 42px;
  }
  .step-title {
    margin-inline-start: 7px;
  }
  .steps-pic img {
    width: 280px;
  }
  .read-more-item {
    text-align: center;
  }
  .read-more-parent {
    margin-top: 10px;
    row-gap: 10px;
  }
  .readmore-about-us {
    margin-top: 20px;
    .read-more-text {
      text-align: center;
      width: 100%;
      font-size: 18px;
    }
    img {
      display: inline-block;
      text-align: center;
      width: 140px;
      // margin-bottom: -15px;
    }
    .item-title,
    .item-desc {
      width: 100%;
      text-align: center;
    }
    .item-desc {
      line-height: 1.5;
      font-size: 15px;
    }
    .item-title {
      line-height: 1.7;
    }
    .item-span {
      display: block;
      text-align: center;
    }
  }
}

// ****************************************************************************************************
// cost and time section
.time-cost-sec {
  padding-top: 0;
}
.logo-prints-parent {
  margin-top: 64px;
  display: flex;
  position: relative;
}
.logo-prints-item {
  padding-inline-start: 105px;
  padding-top: 48px;
  height: 576px;
  width: 100%;
}
.logo-prints-item {
  .price-sec {
    display: flex;
    align-items: center;
    .price {
      color: #24156d;
      font-size: 48px;
      font-weight: 700;
      line-height: 72px;
    }
    .currency {
      color: #4938a1;
      font-size: 16px;
      line-height: 24px;
      margin-inline-start: 11px;
    }
  }
  .heading {
    color: #24156d;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 32px;
    margin-bottom: 16px;
  }
  .desc {
    width: 385px;
    color: #4938a1;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  .list {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 23px;
      p {
        color: #4938a1;
        font-size: 16px;
        line-height: 24px;
      }
      img {
        margin-inline-end: 8px;
        width: 24px;
        height: 24px;
      }
    }
  }
}

.logo-prints-item {
  position: relative;
}
.bgDark {
  background-color: #efedfa;
  &::before {
    content: "";
    width: 100%;
    height: 10px;
    background-color: #efedfa;
    position: absolute;
    top: -10px;
    left: 0;
  }
}
.bgLight {
  background-color: rgba(243, 242, 251, 0.8);
  &::after {
    content: "";
    width: 100%;
    height: 10px;
    background-color: rgba(243, 242, 251, 0.8);
    position: absolute;
    bottom: -10px;
    left: 0;
  }
}
.note {
  background-color: #fff;
  width: 386px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  p {
    width: 325px;
    color: #4938a1;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  &::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 7px;
    top: -7px;
    right: 0;
    background-color: #fff;
  }
  &::before {
    content: "";
    height: 7px;
    position: absolute;
    width: 50%;
    bottom: -7px;
    left: 0;
    background-color: #fff;
  }
}

.clients-review {
  padding-bottom: 30px;
  padding-top: 0;
}

.slide-title {
  color: #4938a1;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  font-weight: 500;
}

.client-review-div {
  width: 995px;
  position: relative;
  height: 360px;
  background-color: #f3f2fb;
  padding-top: 48px;
  padding-inline-start: 48px;
  display: flex;
  align-items: flex-start;
  .img-holder {
    margin-inline-end: 16px;
    position: relative;
    width: 141px;
    height: 144px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::after {
      position: absolute;
      content: "";
      width: 50%;
      height: 8px;
      background-color: #fff;
      bottom: 0;
      inset-inline-start: 0;
    }
    &::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 8px;
      background-color: #f3f2fb;
      top: 0px;
      inset-inline-end: 0;
    }
  }
  img {
    width: 112px;
    height: 112px;
    display: block;
  }
  &::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 8px;
    background-color: #f3f2fb;
    bottom: -8px;
    inset-inline-end: 0;
  }
  &::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 8px;
    background-color: #f3f2fb;
    top: -8px;
    inset-inline-start: 0;
  }
}
.review-text {
  margin-bottom: 58px;
  width: 690px;
  color: #4938a1;
  font-size: 24px;
  line-height: 40px;
  margin-inline-start: 43px;
}
.stars {
  display: flex;
  align-items: center;
  column-gap: 3px;
  .star {
    color: #b7b7b7;
  }
  .star.active {
    color: #ffc914;
  }
}
.review-client-cont {
  position: absolute;
  bottom: -24px;
  inset-inline-start: 203px;
  z-index: 1;
  display: flex;
  align-items: center;
  .client-name {
    color: #4938a1;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    margin: 0;
  }
  .client-role {
    color: #4938a1;
    font-size: 12px;
    text-align: right;
    margin: 4px 0 6px 0;
    display: inline-block;
  }
}

// .swiper-wrapper{
//     justify-content: center;
// }
.main-swiper {
  width: 100%;
  .swiper-wrapper {
    padding: 25px 0;
  }
}

.clients-review-swiper {
  margin-top: 90px;
  .swiper-button-next {
    inset-inline-start: -71px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    &:after {
      display: none;
    }
    .icon {
      font-size: 22px;
      color: #4c34bb;
      display: block;
    }
  }
  .swiper-button-prev {
    inset-inline-end: -71px;
  }
}

.thumbs-swiper {
  margin-bottom: 36px;
}
.thumbs-swiper {
  .swiper-slide {
    width: max-content !important;
  }
}
.swiper-parent {
  width: 995px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.swiper-slide-thumb-active {
  .slide-title {
    color: rgba(73, 56, 161, 0.6);
  }
}

@include max-1200 {
  .swiper-parent,
  .client-review-div {
    width: 100%;
  }
  .clients-review-swiper .swiper-button-next {
    inset-inline-start: -45px;
  }
  .clients-review-swiper .swiper-button-prev {
    inset-inline-end: -45px;
  }
}

@include max-992 {
  .client-review-div {
    padding: 30px;
    height: 300px;
  }

  .thumbs-swiper {
    width: 100%;
    .swiper-wrapper {
      // overflow-x: auto;
      // &::-webkit-scrollbar{
      //     display: none;
      // }
    }
  }

  .review-text {
    margin-bottom: 30px;
    width: 100%;
    font-size: 20px;
    line-height: 1.7;
    margin-inline-start: 25px;
  }
  .logo-prints-parent {
    flex-direction: column;
  }
  .bgLight::after,
  .bgDark::before {
    display: none;
  }
  .bgDark {
    padding-top: 30px;
  }
  .bgLight {
    padding-bottom: 30px;
  }
  .logo-prints-item .price-sec {
    justify-content: center;
  }
  .logo-prints-item .heading {
    text-align: center;
  }
  .logo-prints-item {
    padding-left: 50px;
    padding-right: 50px;
    height: 470px;
    .desc {
      width: 100%;
      text-align: center;
    }
  }
  .logo-prints-parent {
    .list {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .note {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bgDark {
    padding-bottom: 100px;
  }
  .bgLight {
    padding-top: 100px;
  }
  .logo-prints-item .price-sec .price {
    line-height: 1;
  }
  // .logo-prints-item .list li{
  //     width: 100%;
  //     justify-content: center;
  // }
}

@include max-768 {
  .clients-review-swiper {
    margin-top: 45px;
  }
  .logo-prints-item .list li p {
    font-size: 15px;
  }
  .clients-review-swiper .swiper-button-prev,
  .clients-review-swiper .swiper-button-next {
    display: none;
  }
  .client-review-div img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
  }
  .review-client-cont {
    position: relative;
    inset-inline-end: unset;
    inset-inline-start: unset;
    bottom: unset;
  }
  .review-text {
    font-size: 16px;
    line-height: 1.6;
    margin-inline-start: 0;
    text-align: center;
  }
  .client-review-div .img-holder {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      //   max-width: 100%;
      //   max-height: 100%;
      //   object-fit: cover;
      object-position: top;
      margin-bottom: 0;
    }
  }
  .clients-review {
    padding-bottom: 0;
  }
  .client-review-div {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px 10px;
    // height: 370px;
  }
  .client-review-div .img-holder::after,
  .client-review-div .img-holder::before {
    display: none;
  }
  .note {
    width: 315px;
  }
  .logo-prints-item {
    height: 460px;
  }
  .bgDark {
    padding-bottom: 0;
  }
  .bgLight {
    padding-top: 0;
  }
  .logo-prints-item {
    padding-left: 15px;
    padding-right: 15px;
  }
  .logo-prints-item .list li:last-of-type {
    margin-bottom: 0;
  }
  .logo-prints-item .price-sec .price {
    font-size: 35px;
  }
  .logo-prints-item .heading {
    font-size: 18px;
    margin: 15px 0;
  }
  .bgLight {
    padding-top: 90px;
  }
  .logo-prints-parent .list {
    width: auto;
  }
  .logo-prints-item .list li {
    align-items: flex-start;
    margin-bottom: 18px;
  }
  .time-cost-sec {
    padding-bottom: 0;
  }
}

//********************************************************************************************
// work samples

.work-samples-parent {
  position: relative;
  background-color: #4c34bb;
  .freq-span {
    color: rgba(255, 255, 255, 0.8);
  }
  .freq-headline {
    color: #ffffff;
  }
  .freq-desc {
    color: rgba(255, 255, 255, 0.8);
  }
  .freq-div {
    position: absolute;
    top: 96px;
    inset-inline-start: 71px;
    width: 589px;
  }
}
.slides-parent {
  width: 895px;
  height: 1314px;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  margin-inline-start: auto;
  column-gap: 22px;
  .block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    img {
      width: 80%;
    }
    .block-anchor {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      flex-shrink: 0;
    }
  }
  .block3 {
    height: 545px;
    min-width: 182px;
    overflow: hidden;
    align-self: flex-end;
    .block-anchor {
      width: 182px;
      height: 182px;
    }
  }
  .block2 {
    min-width: 282px;
    height: 700px;
    align-self: flex-end;
    overflow: hidden;
    .block-anchor {
      width: 100%;
      height: 282px;
    }
  }
  .block1 {
    .block-anchor {
      width: 385px;
      height: 385px;
    }
  }
}

.js-marquee-wrapper {
  width: 100% !important;
}

.js-marquee {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  margin-bottom: 24px !important ;
}

.workSamples-swiper {
  display: none;
}

@include max-1200 {
  .slides-parent {
    width: 800px;
  }
  .slides-parent .block1 .block-anchor {
    width: 300px;
    height: 300px;
  }
  .slides-parent .block2 {
    min-width: 250px;
    max-width: 250px;
  }
  .slides-parent .block2 .block-anchor {
    height: 250px;
  }
  .slides-parent .block3 .block-anchor {
    width: 200px;
    height: 200px;
  }
}
.workSamples-swiper-parent {
  position: relative;
}

@include max-992 {
  .slides-parent {
    display: none;
  }
  .workSamples-swiper {
    .swiper-slide {
      height: auto;
      min-height: 100% !important;
    }
    display: block;
    .block-anchor {
      width: 100%;
      display: block;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
  .work-samples-parent .freq-div {
    position: relative;
    top: unset;
    inset-inline-start: unset;
    width: 100%;
    margin-bottom: 40px;
  }
  .work-samples-parent {
    padding: 50px 0 85px 0;
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: -45px;
    }
    .swiper-pagination-bullet {
      background-color: #000;
      opacity: 0.4;
    }
    .swiper-pagination-bullet-active {
      background-color: #fff;
      opacity: 1;
    }
  }
}
