
// Frequent
@import "./frequent";

// *************************************************************************************************

// Graphic Desgin page 

@import "./graphic-design/client-review";
@import "./graphic-design/cost-time";
@import "./graphic-design/designs-provided";
@import "./graphic-design/graphicExecSteps";
@import "./graphic-design/graphicMain";
@import "./graphic-design/graphicPublicView";
@import "./graphic-design/graphicWorkSamples";


// *************************************************************************************************

// Software Developement page 

@import "./software-dev/softwareMain";
@import "./software-dev/softwarePublicView";
@import "./software-dev/readyMade-soft";
@import "./software-dev/expertise-fields";
@import "./software-dev/partners";
@import "./software-dev/special-software";
@import "./software-dev/faqs";
@import "./software-dev/softwareExecSteps";
@import "./software-dev/softwareWorkSamples";

// *************************************************************************************************
//  Ecommerce page
@import "./Ecommerce/ecommerceMain";
@import "./Ecommerce/ecommerceWhytostart";
@import "./Ecommerce/store-comp";
@import "./Ecommerce/importance";
@import "./Ecommerce/hidden-costs";
@import "./Ecommerce/packages";
@import "./Ecommerce/questions";

// *************************************************************************************************

// blog index page

@import "./blog/blogMain";
@import "./blog/latest-articles";
@import "./blog/articles-departments";
@import "./blog/special-articles";
@import "./blog/integrated-eCommerce";
@import "./blog/contactWithUs";
@import "./blog/article";

// *************************************************************************************************

// Mobile apps page

@import  "./mobile-apps/mobileMain" ;
@import  "./mobile-apps/mobileWhytostart" ;
@import  "./mobile-apps/products" ;
@import  "./mobile-apps/prog-lang" ;
@import  "./mobile-apps/mobileExecSteps" ;