body {
  font-family: "NeoSans";
  font-size: $font-size;
  line-height: $line-height;
}


::-webkit-scrollbar {
  width: 8px;
  // height: 3px;
}

::-webkit-scrollbar-thumb {
  background:  $secondary-color;
  border-radius: 15px;
}

::-webkit-scrollbar-track{
  background-color:  #eeeeee;
}