body {
  font-family: "NeoSans";
  font-size: $font-size;
  line-height: $line-height;
}



/*preloader*/

.preloader-progress {
  pointer-events: none;
  user-select: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  // height: 5px;
  background-color: $white-color;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  border-radius: 5px;
  animation: progress 6s ease infinite;
  padding: 2px;
  background-color: $primary-color;
}
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

html[dir="ltr"]{
  .preloader-progress{
    direction: ltr;
  }
}
/*preloader*/

::-webkit-scrollbar {
  width: 8px;
  // height: 3px;
}

::-webkit-scrollbar-thumb {
  background:  $secondary-color;
  border-radius: 15px;
}

::-webkit-scrollbar-track{
  background-color:  #eeeeee;
}