body {
  font-family: "NeoSans";
  font-size: $font-size;
  line-height: $line-height;
}



// Start Preloader

.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.preloader {
  width: 100%;
  height: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  position: relative;
  overflow: hidden;
}

.preloader::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100%;
  background-color: var(--primary-color);
  animation: preloaderAnimation 3s infinite linear;
}

@keyframes preloaderAnimation {
  100% {
    left: 100%;
  }
}

// End Preloader

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background:  $secondary-color;
  border-radius: 15px;
}

::-webkit-scrollbar-track{
  background-color:  #eeeeee;
}



