@font-face {
  font-family: "NeoSans";
  src: url("../fonts/NeoSansArabic/NeoSansArabic-Light.woff2") format("woff2"),
    url("../fonts/NeoSansArabic/NeoSansArabic-Light.woff") format("woff"),
    url("../fonts/NeoSansArabic/NeoSansArabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeoSans";
  src: url("../fonts/NeoSansArabic/NeoSansArabic.woff2") format("woff2"),
    url("../fonts/NeoSansArabic/NeoSansArabic.woff") format("woff"),
    url("../fonts/NeoSansArabic/NeoSansArabic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeoSans";
  src: url("../fonts/NeoSansArabic/NeoSansArabic-Medium.woff2") format("woff2"),
    url("../fonts/NeoSansArabic/NeoSansArabic-Medium.woff") format("woff"),
    url("../fonts/NeoSansArabic/NeoSansArabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeoSans";
  src: url("../fonts/NeoSansArabic/NeoSansArabic-Bold.woff2") format("woff2"),
    url("../fonts/NeoSansArabic/NeoSansArabic-Bold.woff") format("woff"),
    url("../fonts/NeoSansArabic/NeoSansArabic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeoSans";
  src: url("../fonts/NeoSansArabic/NeoSansArabic-Black.woff2") format("woff2"),
    url("../fonts/NeoSansArabic/NeoSansArabic-Black.woff") format("woff"),
    url("../fonts/NeoSansArabic/NeoSansArabic-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
